.monitor {
	display: inline-grid;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 100%;
}
.monitor-view {
	display: inline-block;
	justify-content: center;
	align-items: center;
	border: 5px solid black;
	padding: 10px;
}
.monitor-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.monitor-table {
	width: 100%;
	font-size: 1.3rem;
}
td.view-content-data {
	text-align: center;
	border: 2px solid black;
	padding: 5px;
}
.view-name-data {
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 100%;
}
.announcer {
	width: 100%;
}
.announcer-view {
	margin: 10px auto;
	border: 2px solid black;
	width: 70ch;
	padding: 5px 10px 5px 10px;
}
.announcer-message {
	border: 2px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 25px;
}
.reader-view {
	margin-left: 20px;
	padding-top: 100px;
}
.reader-folder-item {
	padding-right: 100px;
	padding-left: 100px;
	font: 1.2rem "Fira Sans";
	display: block;
	border: none;
	background-color: white;
}
.reader-folder-item:hover {
	font-size: 2.2rem;
}
.reader-file-item {
	padding-right: 1000px;
	padding-left: 100px;
	font: 1.2rem "Fira Sans";
	display: block;
	border: none;
	background-color: white;
}
.reader-file-item:hover {
	font-size: 2.2rem;
}
.file-view {
	margin-left: 10px;
}
.index-page {
	padding-top: 50px;
	display: inline-grid;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 100%;
}
.index-page-menu {
	margin-top: 5px;
}