html,body {
	height: 100%;
	margin: 0;
	color : #101c13;
}
main {
	justify-content: center;
	align-items: center;
	display: flex;
	height: 95%;
	background-color: #2a2950;
}
#monitor {
	display: inline-grid;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 75%;
	color : #101c13;
}
.monitor-view {
	display: inline-block;
	justify-content: center;
	align-items: center;
	border: 5px solid #554684;
	padding: 10px;
}
.monitor-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.monitor-table {
	width: 100%;
	font-size: 1.3rem;
}
td.view-content-data {
	text-align: center;
	border: 2px solid black;
	padding: 5px;
}
.view-name-data {
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 100%;
}
#announcer-view {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 75%;
	overflow: auto;
	background-color: #554684;
	scrollbar-color: #554684 #2a2950;
}
.announcer-message {
	white-space: wrap;
	line-break: anywhere;
	border: 2px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 25px;
	background-color: #ebf9fe;
	width: auto;
	max-width: 97%;
	height: auto;
}
#chat {
	height: 100%;
	width: 75%;
	background-color: #554684;
}
#chat-view {
	height: 95%;
	width: 100%;
	overflow: auto;
	scrollbar-color: #554684 #2a2950;
}
#user-form {
	background-color: #2a2950;
	width: 100%;
	height: 5%;
}
#user-form input[type="text"] {
	width: 99%;
	font: 1.5em "Fira Sans";
	background-color: #ebf9fe;
	color: #101c13;
}
#user-form input[type="text"]:focus {
	outline: none;
}
.chat-message {
	margin-left: 10px;
	margin-right: 10px;
	white-space: wrap;
	line-break: anywhere;
	font: 1.5em "Fira Sans";
	color: #ebf9fe;
	text-shadow: #101c13 3px 3px 5px, #101c13 -3px -3px 5px;
}
#reader-view {
	overflow-anchor: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 75%;
	overflow: auto;
	background-color: #554684;
	scrollbar-color: #554684 #2a2950;
}
.button-item {
	white-space: wrap;
	line-break: anywhere;
	font: 1.5em "Fira Sans";
	width: auto;
	height: auto;
	color: #ebf9fe;
	background-color: #2a2950;
	padding: 10px 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.button-item:hover {
	color: #2a2950;
	background-color: #ebf9fe;
}
.reader-file-item {
	white-space: wrap;
	line-break: anywhere;
	font: 1.5em "Fira Sans";
	border: none;
	color: #ecacbf;
	background-color: #64172e;
	margin-top: 10px;
	margin-bottom: 10px;
}
.reader-file-item:hover {
	color: #64172e;
	background-color: #ecacbf;
}
.file-view {
	margin-left: 10px;
}
#index-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 75%;
	height: 100%;
	background-color: #554684;
}
.index-page-menu {
	margin-top: 5px;
}
header {
	background-color: #2a2950;
	height: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
header a {
	font: bold 5em "Dancing Script";
	color: #554684;
	text-shadow: #101C13 2px 2px 0.2rem;
}
header a:link {
	color: #554684;
	text-decoration: none;
	text-shadow: #101C13 2px 2px 0.2rem;
}
header a:visited {
	color: #554684;
	text-decoration: none;
	text-shadow: #101C13 2px 2px 0.2rem;
}
header a:active {
	color: #554684;
	text-decoration: none;
	text-shadow: #101C13 2px 2px 0.2rem;
}
header a:hover {
	color: #554684;
	text-decoration: none;
	text-shadow: none;
}