html,body {
	height: 100%;
	margin: 0;
	color :#101c13;
}
main {
	justify-content: center;
	align-items: center;
	display: flex;
	height: 95%;
	background-color: #2a2950;
}
#monitor {
	display: inline-grid;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 75%;
}
.monitor-view {
	display: inline-block;
	justify-content: center;
	align-items: center;
	border: 5px solid black;
	padding: 10px;
}
.monitor-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.monitor-table {
	width: 100%;
	font-size: 1.3rem;
}
td.view-content-data {
	text-align: center;
	border: 2px solid black;
	padding: 5px;
}
.view-name-data {
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 100%;
}
/*.announcer {
	width: 100%;
}*/
#announcer-view {
	/*margin: 10px auto;*/
	/*border: 2px solid black;*/
	height: 100%;
	width: 70ch;
	/*padding: 5px 10px 5px 10px;*/
	padding-left: 10px;
	padding-right: 10px;
	/*height: 90%;*/
	overflow: auto;
	background-color: #554684;
	scrollbar-color: #554684 #2a2950;
}
.announcer-message {
	border: 2px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 25px;
	background-color: #ebf9fe;
}
.reader-view {
	margin-left: 20px;
	padding-top: 100px;
}
.reader-folder-item {
	padding-right: 100px;
	padding-left: 100px;
	font: 1.2rem "Fira Sans";
	display: block;
	border: none;
	background-color: white;
}
.reader-folder-item:hover {
	font-size: 2.2rem;
}
.reader-file-item {
	padding-right: 1000px;
	padding-left: 100px;
	font: 1.2rem "Fira Sans";
	display: block;
	border: none;
	background-color: white;
}
.reader-file-item:hover {
	font-size: 2.2rem;
}
.file-view {
	margin-left: 10px;
}
#index-page {
	/*padding-top: 50px;*/
	display: inline-grid;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 75%;
	height: 100%;
	/*height: 300px;*/
	/*top: 25px;*/
	/*bottom: 0px;*/
	background-color: #554684;
}
.index-page-menu {
	margin-top: 5px;
}
header {
	background-color: #2a2950;
	height: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
header a {
	font: bold 5em "Dancing Script";
	color: #554684;
	text-shadow: #101C13 2px 2px 0.2rem;
}
header a:link {
	color: #554684;
	text-decoration: none;
	text-shadow: #101C13 2px 2px 0.2rem;
}
header a:visited {
	color: #554684;
	text-decoration: none;
	text-shadow: #101C13 2px 2px 0.2rem;
}
header a:active {
	color: #554684;
	text-decoration: none;
	text-shadow: #101C13 2px 2px 0.2rem;
}
header a:hover {
	color: #554684;
	text-decoration: none;
	text-shadow: none;
}