h1 {
	text-align: center;
}
div.snmp-view {
	display: inline-block;
	border: 2px solid black;
}
/* cc info row style */
#cc-inputACV {
	width: 60px;
}
#cc-batteriesDCV {
	width: 60px;
}
#cc-loadPerc {
	width: 50px;
}
#cc-capacityPerc {
	width: 50px;
}
#cc-temperature {
	width: 50px;
}
#cc-frequency {
	width: 50px;
}
#cc-timeRemain {
	width: 60px;
}
/* rx info row style */
#rx-inputACV {
	width: 60px;
}
#rx-batteriesDCV {
	width: 60px;
}
#rx-loadPerc {
	width: 50px;
}
#rx-capacityPerc {
	width: 50px;
}
#rx-temperature {
	width: 50px;
}
#rx-frequency {
	width: 50px;
}
#rx-timeRemain {
	width: 60px;
}
/* common table style */
td {
	text-align: center;
	border: 2px solid black;
	padding: 5px;
}
td.snmp-view-content {
	cursor: help;
}
/* office styles */
.office-tab-content {
	display: none;
}
/*.office-tab-content label {*/
label {
	display: inline-block;
	width: 105px;
}
.office-tab-header-filter {
	border: none;
	background-color: white;
	font-size: 25px;
}
/*.office-tab-content-add-form {
	float: left;
}*/
input {
	overflow-wrap: break-word;
}
/*button.office-tab-content-add {
	display: inline;
}*/