<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>overseer</title>
		<link rel="stylesheet" href="static/styles.css">
		<script type="text/javascript" src="static/office.js"></script>
	</head>
	<body>
		<div id="office-main">
			<button class="office-tab" onclick="openTab(event, 'actsnprots', 2, true)">Акты и протоколы</button>
			<button class="office-tab" onclick="openTab(event, 'contracts', 2, true)">Договоры</button>
			<button class="office-tab" onclick="openTab(event, 'letters', 2, true)">Письма</button>
			<button class="office-tab" onclick="openTab(event, 'incomes', 2, true)">Приходные ордеры</button>
			<button class="office-tab" onclick="openTab(event, 'orders', 2, true)">Распоряжения и приказы</button>
			<button class="office-tab" onclick="openTab(event, 'notes', 2, true)">СЗ</button>
		</div>
		<div id="actsnprots" class="office-tab-content">
			<h3>Акты и протоколы</h3>
			<form id="office-tab-content-add-form-actsnprots" action="javascript:;" onsubmit="submitTabInput(this)" method="POST" class="office-tab-content-add-form">
				<label for="date">Дата</label><input name="date" type="text" name="col1" autocomplete="off"><br>
				<label for="category">Категория</label><input name="category" type="text" name="col2"><br>
				<label for="number">Номер</label><input name="number" type="text" name="col3"><br>
				<label for="content">Содержание</label><input name="content" type="text" name="col4"><br>
				<label for="author">Составитель</label><input name="author" type="text" name="col5"><br>
				<label for="comment">Примечание</label><input name="comment" type="text" name="col6"><br>
				<input name="submit" type="submit" value="Добавить">
			</form>
			<table>
				<thead>
					<tr>
						<th class="office-tab-header">Дата<button class="office-tab-header-filter" onclick="sortToggle(event, 2, 'actsnprots')">&#11123</button></th>
						<th class="office-tab-header">Категория<button class="office-tab-header-filter" onclick="sortToggle(event, 3, 'actsnprots')">&#11123</button></th>
						<th class="office-tab-header">Номер<button class="office-tab-header-filter" onclick="sortToggle(event, 4, 'actsnprots')">&#11123</button></th>
						<th class="office-tab-header">Содержание<button class="office-tab-header-filter" onclick="sortToggle(event, 5, 'actsnprots')">&#11123</button></th>
						<th class="office-tab-header">Составитель<button class="office-tab-header-filter" onclick="sortToggle(event, 6, 'actsnprots')">&#11123</button></th>
						<th class="office-tab-header">Примечание<button class="office-tab-header-filter" onclick="sortToggle(event, 7, 'actsnprots')">&#11123</button></th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="contracts" class="office-tab-content">
			<h3>Договоры</h3>
			<form id="office-tab-content-add-form-contracts" action="javascript:;" onsubmit="submitTabInput(this)" method="POST" class="office-tab-content-add-form">
				<label for="date">Дата</label><input name="date" type="text" name="col1" autocomplete="off"><br>
				<label for="number">Номер</label><input name="number" type="text" name="col2"><br>
				<label for="eosed">ЕОСЭД</label><input name="eosed" type="text" name="col3"><br>
				<label for="content">Содержание</label><input name="content" type="text" name="col4"><br>
				<label for="agent">Контрагент</label><input name="agent" type="text" name="col5"><br>
				<label for="insigner">Подписант наш</label><input name="insigner" type="text" name="col6"><br>
				<label for="outsigner">Подписант не наш</label><input name="outsigner" type="text" name="col7"><br>
				<label for="fmdate">Действует с</label><input name="fmdate" type="text" name="col8"><br>
				<label for="todate">Действует до</label><input name="todate" type="text" name="col9"><br>
				<label for="price">Цена</label><input name="price" type="text" name="col10"><br>
				<label for="comment">Примечание</label><input name="comment" type="text" name="col11"><br>
				<input name="submit" type="submit" value="Добавить">
			</form>
			<table>
				<thead>
					<tr>
						<th class="office-tab-header">Дата<button class="office-tab-header-filter" onclick="sortToggle(event, 2, 'contracts')">&#11123</button></th>
						<th class="office-tab-header">Номер<button class="office-tab-header-filter" onclick="sortToggle(event, 3, 'contracts')">&#11123</button></th>
						<th class="office-tab-header">ЕОСЭД<button class="office-tab-header-filter" onclick="sortToggle(event, 4, 'contracts')">&#11123</button></th>
						<th class="office-tab-header">Содержание<button class="office-tab-header-filter" onclick="sortToggle(event, 5, 'contracts')">&#11123</button></th>
						<th class="office-tab-header">Контрагент<button class="office-tab-header-filter" onclick="sortToggle(event, 6, 'contracts')">&#11123</button></th>
						<th class="office-tab-header">Подписант наш<button class="office-tab-header-filter" onclick="sortToggle(event, 7, 'contracts')">&#11123</button></th>
						<th class="office-tab-header">Подписант не наш<button class="office-tab-header-filter" onclick="sortToggle(event, 8, 'contracts')">&#11123</button></th>
						<th class="office-tab-header">Действует с<button class="office-tab-header-filter" onclick="sortToggle(event, 9, 'contracts')">&#11123</button></th>
						<th class="office-tab-header">Действует до<button class="office-tab-header-filter" onclick="sortToggle(event, 10, 'contracts')">&#11123</button></th>
						<th class="office-tab-header">Цена<button class="office-tab-header-filter" onclick="sortToggle(event, 11, 'contracts')">&#11123</button></th>
						<th class="office-tab-header">Примечание<button class="office-tab-header-filter" onclick="sortToggle(event, 12, 'contracts')">&#11123</button></th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="letters" class="office-tab-content">
			<h3>Письма</h3>
			<form id="office-tab-content-add-form-letters" action="javascript:;" onsubmit="submitTabInput(this)" method="POST" class="office-tab-content-add-form">
				<label for="date">Дата</label><input name="date" type="text" name="col1" autocomplete="off"><br>
				<label for="number">Номер</label><input name="number" type="text" name="col2"><br>
				<label for="eosed">ЕОСЭД</label><input name="eosed" type="text" name="col3"><br>
				<label for="theme">Тема</label><input name="theme" type="text" name="col4"><br>
				<label for="receiver">Адресат</label><input name="receiver" type="text" name="col5"><br>
				<label for="address">Адрес</label><input name="address" type="text" name="col6"><br>
				<label for="signer">Подписант</label><input name="signer" type="text" name="col7"><br>
				<label for="author">Инициатор</label><input name="author" type="text" name="col8"><br>
				<label for="comment">Примечание</label><input name="comment" type="text" name="col9"><br>
				<input name="submit" type="submit" value="Добавить">
			</form>
			<table>
				<thead>
					<tr>
						<th class="office-tab-header">Дата<button class="office-tab-header-filter" onclick="sortToggle(event, 2, 'letters')">&#11123</button></th>
						<th class="office-tab-header">Номер<button class="office-tab-header-filter" onclick="sortToggle(event, 3, 'letters')">&#11123</button></th>
						<th class="office-tab-header">ЕОСЭД<button class="office-tab-header-filter" onclick="sortToggle(event, 4, 'letters')">&#11123</button></th>
						<th class="office-tab-header">Тема<button class="office-tab-header-filter" onclick="sortToggle(event, 5, 'letters')">&#11123</button></th>
						<th class="office-tab-header">Адресат<button class="office-tab-header-filter" onclick="sortToggle(event, 6, 'letters')">&#11123</button></th>
						<th class="office-tab-header">Адрес<button class="office-tab-header-filter" onclick="sortToggle(event, 7, 'letters')">&#11123</button></th>
						<th class="office-tab-header">Подписант<button class="office-tab-header-filter" onclick="sortToggle(event, 8, 'letters')">&#11123</button></th>
						<th class="office-tab-header">Инициатор<button class="office-tab-header-filter" onclick="sortToggle(event, 9, 'letters')">&#11123</button></th>
						<th class="office-tab-header">Примечание<button class="office-tab-header-filter" onclick="sortToggle(event, 10, 'letters')">&#11123</button></th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="incomes" class="office-tab-content">
			<h3>Приходные ордеры</h3>
			<form id="office-tab-content-add-form-incomes" action="javascript:;" onsubmit="submitTabInput(this)" method="POST" class="office-tab-content-add-form">
				<label for="date">Дата</label><input name="date" type="text" name="col1" autocomplete="off"><br>
				<label for="number">Номер</label><input name="number" type="text" name="col2"><br>
				<label for="content">Содержание</label><input name="content" type="text" name="col3"><br>
				<label for="agent">Контрагент</label><input name="agent" type="text" name="col4"><br>
				<label for="storage">Склад</label><input name="storage" type="text" name="col5"><br>
				<label for="price">Сумма</label><input name="price" type="text" name="col6"><br>
				<label for="comment">Примечание</label><input name="comment" type="text" name="col7"><br>
				<input name="submit" type="submit" value="Добавить">
			</form>
			<table>
				<thead>
					<tr>
						<th class="office-tab-header">Дата<button class="office-tab-header-filter" onclick="sortToggle(event, 2, 'incomes')">&#11123</button></th>
						<th class="office-tab-header">Номер<button class="office-tab-header-filter" onclick="sortToggle(event, 3, 'incomes')">&#11123</button></th>
						<th class="office-tab-header">Содержание<button class="office-tab-header-filter" onclick="sortToggle(event, 4, 'incomes')">&#11123</button></th>
						<th class="office-tab-header">Контрагент<button class="office-tab-header-filter" onclick="sortToggle(event, 5, 'incomes')">&#11123</button></th>
						<th class="office-tab-header">Склад<button class="office-tab-header-filter" onclick="sortToggle(event, 6, 'incomes')">&#11123</button></th>
						<th class="office-tab-header">Сумма<button class="office-tab-header-filter" onclick="sortToggle(event, 7, 'incomes')">&#11123</button></th>
						<th class="office-tab-header">Примечание<button class="office-tab-header-filter" onclick="sortToggle(event, 8, 'incomes')">&#11123</button></th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="orders" class="office-tab-content">
			<h3>Распоряжения и приказы</h3>
			<form id="office-tab-content-add-form-orders" action="javascript:;" onsubmit="submitTabInput(this)" method="POST" class="office-tab-content-add-form">
				<label for="date">Дата</label><input name="date" type="text" name="col1" autocomplete="off"><br>
				<label for="number">Номер</label><input name="number" type="text" name="col2"><br>
				<label for="eosed">ЕОСЭД</label><input name="eosed" type="text" name="col3"><br>
				<label for="content">Содержание</label><input name="content" type="text" name="col4"><br>
				<label for="acq">Ознакомление</label><input name="acq" type="text" name="col5"><br>
				<label for="comment">Примечание</label><input name="comment" type="text" name="col7"><br>
				<input name="submit" type="submit" value="Добавить">
			</form>
			<table>
				<thead>
					<tr>
						<th class="office-tab-header">Дата<button class="office-tab-header-filter" onclick="sortToggle(event, 2, 'orders')">&#11123</button></th>
						<th class="office-tab-header">Номер<button class="office-tab-header-filter" onclick="sortToggle(event, 3, 'orders')">&#11123</button></th>
						<th class="office-tab-header">ЕОСЭД<button class="office-tab-header-filter" onclick="sortToggle(event, 4, 'orders')">&#11123</button></th>
						<th class="office-tab-header">Содержание<button class="office-tab-header-filter" onclick="sortToggle(event, 5, 'orders')">&#11123</button></th>
						<th class="office-tab-header">Ознакомление<button class="office-tab-header-filter" onclick="sortToggle(event, 6, 'orders')">&#11123</button></th>
						<th class="office-tab-header">Примечание<button class="office-tab-header-filter" onclick="sortToggle(event, 7, 'orders')">&#11123</button></th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="notes" class="office-tab-content">
			<h3>Служебные записки</h3>
			<form id="office-tab-content-add-form-notes" action="javascript:;" onsubmit="submitTabInput(this)" method="POST" class="office-tab-content-add-form">
				<label for="date">Дата</label><input name="date" type="text" name="col1" autocomplete="off"><br>
				<label for="reg">Регистрация</label><input name="reg" type="text" name="col2"><br>
				<label for="number">Номер</label><input name="number" type="text" name="col3"><br>
				<label for="eosed">ЕОСЭД</label><input name="eosed" type="text" name="col4"><br>
				<label for="theme">Тема</label><input name="theme" type="text" name="col5"><br>
				<label for="receiver">Адресат</label><input name="receiver" type="text" name="col6"><br>
				<label for="signer">Подписант</label><input name="signer" type="text" name="col7"><br>
				<label for="author">Инициатор</label><input name="author" type="text" name="col8"><br>
				<label for="comment">Примечание</label><input name="comment" type="text" name="col9"><br>
				<input name="submit" type="submit" value="Добавить">
			</form>
			<table>
				<thead>
					<tr>
						<th class="office-tab-header">Дата<button class="office-tab-header-filter" onclick="sortToggle(event, 2, 'notes')">&#11123</button></th>
						<th class="office-tab-header">Регистрация<button class="office-tab-header-filter" onclick="sortToggle(event, 3, 'notes')">&#11123</button></th>
						<th class="office-tab-header">Номер<button class="office-tab-header-filter" onclick="sortToggle(event, 4, 'notes')">&#11123</button></th>
						<th class="office-tab-header">ЕОСЭД<button class="office-tab-header-filter" onclick="sortToggle(event, 5, 'notes')">&#11123</button></th>
						<th class="office-tab-header">Тема<button class="office-tab-header-filter" onclick="sortToggle(event, 6, 'notes')">&#11123</button></th>
						<th class="office-tab-header">Адресат<button class="office-tab-header-filter" onclick="sortToggle(event, 7, 'notes')">&#11123</button></th>
						<th class="office-tab-header">Подписант<button class="office-tab-header-filter" onclick="sortToggle(event, 8, 'notes')">&#11123</button></th>
						<th class="office-tab-header">Инициатор<button class="office-tab-header-filter" onclick="sortToggle(event, 9, 'notes')">&#11123</button></th>
						<th class="office-tab-header">Примечание<button class="office-tab-header-filter" onclick="sortToggle(event, 10, 'notes')">&#11123</button></th>
					</tr>
				</thead>
			</table>
		</div>
		<script>adaptInputs();</script>
	</body>
</html>